<!DOCTYPE html>
<html>

<head>
    <html lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link defer href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link defer rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!--CDN VUE-->
    <script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script defer src="senate113.js"></script>
    <script defer src="senate-attance.js"></script>



    <link rel="stylesheet" href="starter.css">

</head>

<body>
    <div class="container " id='app'>


        <header class=" row  d-flex justify-content-between p-3">
            <div class="col-6 row">
                <img class=" sm" height="100px" src="logo.png">
                <h1 class=" d-flex flex-column-reverse">Tgift</h1>
            </div>



            <div class="d-flex col-6 align-items-end p-3 ">
                <img src="gif.gif" width="50px">
                <a class="text-rigth text-primary" href="mailito:info@tgif.com">

                    <h3>info@tgif.com</h3>
                </a>








        </header>


        <div class="navhome">
            <ul class="  nav  border border-dark">
                <li class="nav-item">
                    <a class="congres113 nav-link active" href="home.html">home</a>


                </li>

                <div class=" btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle congres113" data-toggle="dropdown">
                        congres 113 <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu border  border-darck" role="menu">
                        <li><a href="house.html">house</a></li>
                        <li><a href="senate.html">senate</a></li>


                    </ul>
                </div>
                <div>
                    <button type="button" class="btn btn-default dropdown-toggle congres113" data-toggle="dropdown">
                        attendance <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu border  border-darck" role="menu">
                        <li><a href="house-attendance.html">house</a></li>
                        <li><a href="senate-attendance.html">senate</a></li>


                    </ul>

                </div>
                <div>
                    <button type="button" class="btn btn-default dropdown-toggle congres113" data-toggle="dropdown">
                        Party Lovalty <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu border  border-darck" role="menu">
                        <li><a href="house-party.html">house</a></li>
                        <li><a href="senatte-party.html">senate</a></li>


                    </ul>

                </div>

            </ul>




            </ul>
        </div>

        </li>

        </ul>

        <section class="flex flex-row row">

            <div class="col-6">
                <h1></h1>
                <h2>Attendance</h2>


                <p>Lucas ipsum dolor sit amet grievous hoth skywalker wedge zabrak tatooine darth padmé
                    hutt solo. Chewbacca
                    kenobi darth tatooine endor maul fett. Vader dantooine skywalker vader hoth yavin darth bothan.
                    Obi-wan
                    tatooine mon boba. Darth skywalker moff jade antilles kenobi greedo lando grievous. Tusken
                    raider
                    mara
                    secura thrawn darth darth mace leia. Solo jango moff hutt. Kashyyyk jango jade wicket ben mothma
                    jango.
                    Padmé darth skywalker kamino skywalker. Baba leia boba padmé. Jade ackbar ponda binks jade
                    utapau
                    boba.
                </p>


            </div>


            <div class="table col-6">
                <h2>house at a galance</h2>
                <table>


                    <thead>
                        <tr>
                            <th>Party</th>
                            <th>no.of reps</th>
                            <th>% votes w/Party</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr v-for='(elements,key) of todosLosDatos.nombres'>
                            <td>{{key}}</td>
                            <td>{{elements.resultadoNumero}} </td>
                            <td>{{elements.tantoPorCiento}}</td>
                        </tr>



                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>


            </div>



        </section>
        <hr>
        <section class="row">
            <div class="table col-6">
                <h2>Least Engaged (Bottom 10% Attenance)</h2>
                <table>
                    <thead>
                        <tr>

                            <th>name</th>
                            <th>no. party votes</th>
                            <th>% party votes</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr v-for='elementos of todosLosDatos.top10'>
                            <td><a v-bind:href="elementos.url">{{elementos.first_name}}
                                    {{elementos.middle_name || ' '}}</a></td>
                            <td>{{elementos.missed_votes}}</td>
                            <td>{{elementos.missed_votes_pct}}%</td>
                        </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>

            </div>
            <div class="table col-6">
                <h2>Least Engaged (top 10% Attenance)</h2>
                <table>
                    <thead>
                        <tr>

                            <th>name</th>
                            <th>no. party votes</th>
                            <th>% party votes</th>
                        </tr>


                    </thead>
                    <tbody>
                        <tr v-for='elementos of todosLosDatos.bottom10 '>
                            <td><a v-bind:href="elementos.url">{{elementos.first_name}}
                                    {{elementos.middle_name || '   '}}</a></td>
                            <td>{{elementos.missed_votes}}</td>
                            <td>{{elementos.missed_votes_pct}}%</td>
                        </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </section>




        <footer class="navhome row nav border border-dark">
            <div class="col-3"></div>
            <h4 class="col-6"> &copy;2016 Tgift| All Rigth Resrved</h4>
            <div class="col-3"></div>
        </footer>
    </div>

</body>


</html>